#finance_wrapper {
	position: relative;
}
#finance_wrapper .panel{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    position: absolute;
    top: 0;
    left:0;
    z-index: 99
}

#finance_wrapper .dialog{
	position: absolute;
    top: 300px;
    width: 1903px;
    z-index: 100;
}