<!DOCTYPE html>
<html>
<head>
	<title>财务管理系统注册</title>
	<meta charset="utf-8">
	<link href="https://cdn.bootcss.com/semantic-ui/2.2.14/semantic.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/semantic-ui/2.2.14/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/page/app.css">
	<script type="text/javascript" src="../../lib/uuid.js"></script>
	<script type="text/javascript" src="../../data/login.js"></script>
</head>
<body>
<div id="finance_register" class="register_container">
	<div class="ui segment">
		<div class="ui form">
			<div class=" field">
				<div class="ui left icon input">
		            <i class="user icon"></i>
		            <input type="text" name="account" placeholder="账号">
		         </div>
			</div>
			<div class=" field">
				<div class="ui left icon input">
		            <i class="lock icon"></i>
		            <input type="password" name="password" placeholder="密码" autocomplete="false">
		         </div>
			</div>
			<div class=" field">
				<div class="ui left icon input">
		            <i class="lock icon"></i>
		            <input type="password" name="repeat_password" placeholder="重复密码" autocomplete="false">
		         </div>
			</div>
			<div class="inline field">
				<div class="ui radio checkbox ">
					<input type="radio" name="userType" checked="checked">
					<label>普通用户</label>
				</div>
				<div class="ui radio checkbox">
					<input type="radio" name="userType">
					<label>管理员</label>
				</div>
			</div>
			<div class="inline field btns">
				<!-- <button class="ui  button " name="login">登录</button> -->
				<button class="ui  button " name="regist">注册</button>
				<button class="ui  button " name="login">登录</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../js/login/login.js"></script>
</body>
</html>