<div class="departmenttable">
	<div id="departmentApproval_datagrid"></div>
	<div class="departmentApproval_dialog dialog" >
		<div class="departmentApproval modal form">
			<div class="field">
				<label for="departmentId">操作时间</label>
				<input type="text"  name="departmentId">
			</div>
			<div class="field">
				<label for="password">密码</label>
				<input type="text" name="password">
			</div>
			<div class="field">
				<label for="group">部门组别</label>
				<input type="text" name="group">
			</div>
			<div class="field">
				<label for="name">部门名称</label>
				<input type="text" name="name">
			</div>
			<div class="field">
				<label for="phone">手机</label>
				<input type="text" name="phone">
			</div>
			<div class="field">
				<label for="email">邮箱</label>
				<input type="text" name="email">
			</div>
			<div class="field">
				<label for="remark">备注</label>
				<input type="text" name="remark">
			</div>
		</div>
		<div class="departmentApproval modal buttons">
			<button class="Ok" name="Ok">确定</button>
			<button class="resetValue" name="resetValue">重置</button>
		</div>
	</div>
</div>
